build/*
nbproject/ant-deploy.xml
nbproject/build-gwt.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/gwt.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml