<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DocumentMetadata</servlet-name>
        <servlet-class>it.unibo.cs.rgb.servlet.DocumentMetadata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentViewer</servlet-name>
        <servlet-class>it.unibo.cs.rgb.servlet.DocumentViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentsList</servlet-name>
        <servlet-class>it.unibo.cs.rgb.servlet.DocumentsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentInfo</servlet-name>
        <servlet-class>it.unibo.cs.rgb.servlet.DocumentInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>it.unibo.cs.rgb.servlet.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StemmaCodicum</servlet-name>
        <servlet-class>it.unibo.cs.rgb.servlet.StemmaCodicum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstrazioneDiConcordanze</servlet-name>
        <servlet-class>it.unibo.cs.rgb.servlet.EstrazioneDiConcordanze</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Differenziazione</servlet-name>
        <servlet-class>it.unibo.cs.rgb.servlet.Differenziazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentNoteViewer</servlet-name>
        <servlet-class>it.unibo.cs.rgb.servlet.DocumentNoteViewer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocumentMetadata</servlet-name>
        <url-pattern>/DocumentMetadata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentViewer</servlet-name>
        <url-pattern>/DocumentViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentsList</servlet-name>
        <url-pattern>/DocumentsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentInfo</servlet-name>
        <url-pattern>/DocumentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StemmaCodicum</servlet-name>
        <url-pattern>/StemmaCodicum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstrazioneDiConcordanze</servlet-name>
        <url-pattern>/EstrazioneDiConcordanze</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Differenziazione</servlet-name>
        <url-pattern>/Differenziazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentNoteViewer</servlet-name>
        <url-pattern>/DocumentNoteViewer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <!-- set the amount of seconds the conf file will be checked for reload
        can be a valid integer (0 denotes check every time,
        -1 denotes no reload check, default -1) -->
        <init-param>
            <param-name>confReloadCheckInterval</param-name>
            <param-value>1</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
</web-app>
