body {
  color: red;
}

.buttonDocumentsList {
    padding: 2px;
    background: url("images/hdot2.gif") repeat-x scroll center bottom transparent;
}

.buttonDocumentsListOver {
    cursor: pointer;
    background: #DCDCDC;
}

.headerPanel {
    background: #DCDCDC;
}

.servicePanel {
    background: #DCDCDC;
    width: 100%;
}