body {
    color: black;
    font-size: 10px;
    font-family: "Lucida Grande", verdana;
}

.buttonDocumentsListHeader {
    font-size: 16px;
    background: #F6F6F6;
    color: black;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:5px;
    padding-left:5px;
    text-align:center;
    border-color: #22638C;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;

}

.buttonDocumentsList {
    padding-top:1px;
    padding-bottom:1px;
    padding-right:5px;
    padding-left:5px;
    background: url("images/hdot2.gif");
    background-color: #F8F8F8;
    background-repeat: repeat-x;
    background-position: center bottom;
    background-attachment: scroll;
    border-color: #DDDDDD;
    border-style: solid;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;


}

.buttonDocumentsListOver {
    cursor: pointer;
    background: #DCDCDC;
}

.headerPanel {
    background: #000000;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: left top;
    height: 125px;
    width: 100%;
    text-align: right;
}

.westPanel {
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;

}

.centerPanel {

}

.documentView {
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;


}

.loading{
    text-align: center;
}

.viewerText{
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;
}

.viewerNote{
    padding-top:5px;
    padding-bottom:5px;
    padding-right:10px;
    padding-left:0px;
    font-style: italic;
}

.viewerTextSpace{
    width: 200px;
}

.viewerNoteSpace{
    width: 125px;
}

.viewerPanel{
    width: 100%;
}


.gwt-DisclosurePanel .header {

    background-color:#E3E3E3;
    color:#990000;
    display:block;
    font-size:18px;

}

.gwt-DisclosurePanel {
    background-color: #F8F8F8;

}

.gwt-DisclosurePanel .content {
    border-left: 0px;
    margin-left: 0px;

    border-width: 1px;
    border-color: #DDDDDD;
    padding:5px 5px 5px 5px;

}

h3 {
    color: #22638C;
    padding: 0px;
    margin: 0px;
}

h2 {
    color:#22638C;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    padding: 2px;
}
h1 {
    color: #22638C;
}

.documentViewerWitness {

    text-align: center;
    color: black;
    border-color: #22638C;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}

.pageTitle {
    color:#22638C;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    padding: 2px;
}