body {
    color: black;
    font-size: 10px;
}

.buttonDocumentsListHeader {
    font-size: 14px;
    background: #385C74;
    color:white;
font-size:14px;
padding:5px;
}

.buttonDocumentsList {
    padding: 2px;
    background: url("images/hdot2.gif");
    background-repeat: repeat-x;
    background-position: center bottom;
    background-attachment: scroll;
    background-color: transparent;
}

.buttonDocumentsListOver {
    cursor: pointer;
    background: #DCDCDC;
}

.headerPanel {
    background: #000000;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: left top;
    height: 125px;
    width: 100%;
    text-align: right;
}

.westPanel {
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;

}

.centerPanel {
    
}

.servicePanel {
    background: #DCDCDC;
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;
}

.documentView {
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;


}

.loading{
    text-align: center;
}

.viewerText{
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;
}

.viewerNote{
        padding-top:5px;
    padding-bottom:5px;
    padding-right:10px;
    padding-left:0px;
    font-style: italic;
}

.viewerTextSpace{
    width: 200px;
}

.viewerNoteSpace{
    width: 125px;
}

.viewerPanel{
    width: 100%;
}

.gwt-Label {

}