/* 
    Document   : svg
    Created on : Jun 11, 2010, 11:39:58 AM
    Author     : gine
    Description: Purpose of the stylesheet follows.
*/

circle {
    fill:#83adf7;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:#83adf7;
    stroke-width:3;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-dashoffset:0;
    stroke-opacity:1;
}

circle.witness-greek {
    fill:red;
    stroke:red;
}

text {
    font-size:20px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    font-stretch:normal;
    text-align:start;
    line-height:125%;
    writing-mode:lr-tb;
    text-anchor:start;
    fill:black;
    fill-opacity:1;
    stroke:none;
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    font-family:Arial;
    text-anchor:middle; 
    dominant-baseline=mathematical;
}

text.witness-greek {
    font-size:26px;
}

line {
    fill:none;
    fill-rule:evenodd;
    stroke:#83adf7;
    stroke-width:2.93415856;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
}
